---
Checks: >
    bugprone-*,
    -bugprone-exception-escape,
    modernize-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-do-while
HeaderFilterRegex: ''
